@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .list {
    list-style-type: none;
    list-style-position: inside;
    list-style-image: url("point.svg");
  }
  .carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;
  }
}

@layer components {
  .navEffect {
    @apply h-9 flex items-center hover:border-b-[2px] hover:border-black focus:border-black focus:border-b-[2px];
  }
  .title {
    @apply font-medium text-2xl text-center mb-5;
  }
  .pointContainer {
    @apply w-6 h-auto mt-1;
  }
  .point {
    @apply h-4 w-4 rounded-full bg-green_light;
  }
  .icon {
    @apply flex h-full items-center cursor-pointer;
  }
}
